body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #333;
}

.color-option {
    cursor: pointer;
}

.shape-option {
    cursor: pointer;
}

.block {
    transition: background-color 0.3s, border-radius 0.3s;
}