body {
    background-image: linear-gradient(to right, #929191, #3d3d3d);
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

.corpo {
    background-color: #ffffff;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 40px;
    color: #000000;
    text-shadow: 4px 4px 3px rgb(59, 59, 59);
}

.icon {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.cover {
    height: 280px;
    width: 250px;
    border-radius: 50px;
    box-shadow: 15px 15px 6px #000000;
}

.cover:hover {
    height: 284px;
    width: 254px;
}

.cardsiniciais {
    display: inline-block;
    padding: 20px;
}

.card-container {
    position: relative;
    display: inline-block;
    padding: 110px; 
}

.text {
    font-family: Georgia;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: black; 
    text-align: center; 
    visibility: hidden;
    text-shadow: 4px 4px 3px rgb(194, 191, 191);
    white-space: nowrap;
}